# Database
MONGODB_URI=mongodb://localhost:27017/one9-contact
DB_NAME=one9-contact

# Server
NODE_ENV=development
PORT=3000
HOST=localhost

# CORS
CORS_ORIGIN=http://localhost:5173

# API
API_PREFIX=/api/v1

# Logging
LOG_LEVEL=info

# Mail Service (One9 Mail API)
MAIL_API_URL=https://one9-mail-v2.onrender.com/api/v1
MAIL_API_KEY=your_api_key_here
